<% include partials/header.ejs %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the new marketplace</h1>
        <p class="lead">We plan on revolutionizing e-commerce.</p>
    </div>
    <% var i = 0 %>
    <div class="row">
        <% items.forEach(function(item){ %>
            <div class="col-sm-3" style="margin-bottom: 20px">
                <div class="card">
                    <img src="<%= item.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span style="text-align:left"><%= item.name %> </span>
                            <span style="float:right"><%=item.price%></span>
                        </h5>
                        <a href="/<%=item._id%>" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
        <% }); %>
        <div class="col-sm-3">
            <a href="/new">
                <div class="card">
                    <img src="https://image.flaticon.com/icons/svg/1665/1665578.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="btn btn-primary"> Add a new item for sale! </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
